body {
  text-align: center;
  color: #403f3d;
  background-image: linear-gradient(
    35deg,
    hsl(354deg 94% 37%) 0%,
    hsl(33deg 83% 44%) 7%,
    hsl(44deg 87% 47%) 14%,
    hsl(51deg 92% 50%) 20%,
    hsl(53deg 100% 50%) 27%,
    hsl(45deg 100% 50%) 34%,
    hsl(35deg 100% 50%) 41%,
    hsl(20deg 100% 50%) 48%,
    hsl(359deg 82% 62%) 55%,
    hsl(356deg 36% 66%) 61%,
    hsl(191deg 18% 65%) 68%,
    hsl(183deg 64% 57%) 75%,
    hsl(191deg 80% 51%) 81%,
    hsl(201deg 87% 52%) 88%,
    hsl(213deg 93% 52%) 94%,
    hsl(226deg 100% 50%) 100%
  );
  font-family: "Cerebri Sans", sans-serif, monospace;
  /* font-family: Arial, Helvetica, sans-serif; */
  width: 100vw;
  height: 120vh;
}

.btn-search {
  color: #990c1a;
  background: #fbe6c8;
}

.btn-search:hover {
  background: #990c1a;
  color: white;
}

.input-group {
  margin: auto;
  margin-top: 3%;
}
.form-control {
  border: none;
}
.search-city {
  background: #fbe6c8;
}
.current_location {
  margin-top: 1%;
  height: 28%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  background: #fbe6c8;

  color: #54524f;
}

.input-group,
.current_location {
  border: 1px solid #990c1a;
  width: 40%;
  border-radius: 7px;
}

.current_location:hover {
  background: #990c1a;
  color: white;
  /* #403f3d; */
}

h1 {
  margin-top: 3%;
  font-weight: 700;
}

.date {
  font-size: 20px;
  margin-bottom: -60px;
}
.day {
  margin-right: -17%;
}

.today-info {
  border: 2px solid #990c1a;
  margin-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
  max-width: 600px;
  margin: 60px auto;
  /* background-image: linear-gradient(
    to right bottom,
    #ffedd4,
    #fbe5c6,
    #f7dcb7,
    #f2d4a9,
    #eecc9b
  ); */
  background: #fbe6c8;
  box-shadow: 2px 2px 5px #990c1a, -2px -2px 10px #990c1a;
  min-width: 50%;
  border-radius: 14px;
}

.today-icon {
  font-size: 70px;
  padding-top: 16px;
  padding-left: 35px;
  color: #ffa27d;
  margin-left: 10px;
}

.vertical-line {
  border-left: 3px solid rgb(122, 119, 119);
  height: 120px;
  margin-top: 27px;
  margin-left: 46px;
}

@media only screen and (max-width: 600px) {
  .vertical-line {
    /* transform: rotate(90deg); */
    border-left: 0px solid rgb(122, 119, 119);
    border-bottom: 3px solid rgb(122, 119, 119);
    width: 70%;
    padding-left: 40px;
    display: block;
    margin: auto;
    margin-top: -30%;
    /* margin-left: 15%; */
  }
  .date {
    font-size: 16px;
  }
  .day {
    padding-right: 5%;
  }
  .time {
    padding-left: 5%;
  }
  .today-tempreture {
    margin-top: -12%;
  }
}

.weather-description {
  padding-top: 0px;
  padding-left: 30px;
  margin-top: -10px;
}

.real-feel {
  margin-top: -36px;
  padding-left: 35px;
}

.degree-signs {
  font-size: 15px;
  margin-top: 22px;
  margin-bottom: -20px;
  margin-left: 60px;
}

.today-tempreture {
  font-size: 35px;
  /* margin-top: 0px; */
  margin-bottom: 5px;
  padding-top: 12%;
  /* margin-left: -90px; */
}

.wind,
.humidity {
  font-size: 15px;
}

.humidity {
  margin-top: -20px;
}

.wind {
  margin-top: -13px;
}

.forcast {
  font-size: 18px;
  max-width: 600px;
  margin: -10px auto;
  margin-bottom: 40px;
}

.fa-cloud,
.fa-cloud-rain,
.fa-cloud-sun-rain,
.fa-cloud-sun,
.fa-sun {
  color: #ffa27d;
  font-size: 30px;
  /* margin-top: -80px; */
}

.celsius {
  font-weight: 500;
  color: black;
}

.fahrenheit {
  color: rgb(134, 129, 129);
  font-weight: 500;
}

.celsius:hover,
.fahrenheit:hover {
  font-weight: 900;
  cursor: pointer;
}

.introduce {
  font-weight: 200;
  font-size: 17px;
  color: black;
  text-decoration: underline;
  text-decoration: none;
}
.introduce:hover {
  color: #990c1a;
  font-weight: 600;
}
